<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header class="container">
    <h1>{{title}}</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/realtimeproducts">Tiempo real</a>
    </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>

 <footer class="footer text-center mt-4">
  🚀 Proyecto Backend - Entrega Final | Desarrollado por <b>Joel Simoes Daniel</b>
</footer>


  <script src="/socket.io/socket.io.js"></script>
</body>
</html>

